.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  min-height: 100vh;
  padding-bottom: 50px;
}

.App-header {
  background-color: #007bff;
  padding: 20px;
  color: white;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2, h3 {
  color: #333;
}

main {
  padding: 20px;
}

/* General form and input styling */
form {
  margin-bottom: 20px;
}

form input {
  display: block;
  width: calc(100% - 22px); /* Account for padding + border */
  margin-bottom: 15px;
}

form button {
  width: 100%;
}